*{
    margin:0;
    padding:0;
}


.main{
    width:100%;
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(1.jpeg);
    background-position:center;
    background-size:cover;
    height:109vh;
}


.menu-icon ion-icon{
    color:#fff;
    font-size:40px;
    cursor:pointer;
    margin-right:20px;
    transition:0.3s;
}
.menu-icon ion-icon:hover{
    color:#00e5ff;
}


.navbar{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}


.logo{
    color:#00fff2;
    font-size:35px;
    margin-left:550px;
}


.menu-icon{
    margin-left:20px;
}


.menu{
    width:100%;
    display:flex;
    justify-content:center;
    margin-top:10px;
}
.menu ul{
    display:flex;
    list-style:none;
}
.menu ul li{
    margin:0 40px;
}
.menu ul li a{
    text-decoration:none;
    color:#fff;
    font-size:22px;
    font-weight:bold;
}
.menu ul li a:hover{
    color:#ff7200;
}


.search{
    width:100%;
    display:flex;
    justify-content:center;
    margin-top:10px;
}
.srch{
    width:400px;
    height:40px;
    background:#000;
    border:1px solid #ff7200;
    color:#fff;
    border-right:none;
    padding:10px;
}
.btn{
    width:100px;
    height:40px;
    background:#ff7200;
    border:none;
    color:#fff;
    cursor:pointer;
}


.content{
    width:1200px;
    margin:auto;
    color:white;
    margin-top:100px;
}
.content h1{
    font-size:50px;
    margin-top:9%;
}
.content span{
    color:#ff7200;
    font-size:60px;
}


.cn{
    width:160px;
    height:40px;
    background:#ff7200;
    border:none;
    margin-top:20px;
    border-radius:10px;
    cursor:pointer;
}
.cn a{
    text-decoration:none;
    color:#000;
}


.form{
    width:250px;
    height:380px;
    background:rgba(0,0,0,0.8);
    position:absolute;
    top:250px;
    left:900px;
    border-radius:20px;
    padding:25px;
}
.form h2{
    text-align:center;
    color:orange;
    background:#fff;
    border-radius:10px;
    padding:8px;
}
.form input{
    width:100%;
    height:35px;
    margin-top:20px;
    background:transparent;
    border:none;
    border-bottom:1px solid #ff7200;
    color:#fff;
}
.btnn{
    width:100%;
    height:40px;
    background:#ff7200;
    border:none;
    margin-top:20px;
    border-radius:10px;
    color:#fff;
}
.btnn:hover{
    background:#fff;
    color:#ff7200;
}
.skip-btn{
    width:100%;
    height:40px;
    background:transparent;
    border:1px solid #ff7200;
    margin-top:10px;
    border-radius:10px;
    cursor:pointer;
}

.skip-btn a{
    text-decoration:none;
    color:#ff7200;
    font-weight:bold;
}

.skip-btn:hover{
    background:#00c3ff;
}

.skip-btn:hover a{
    color:#000;
}

.icon{
    display:flex;
    justify-content:center;
    margin-top:10px;
}
.icon a{
    color:#fff;
}
.icon ion-icon{
    font-size:25px;
    margin:5px;
}
.icon ion-icon:hover{
    color:#ff7200;
}



.sidebar{
    position:fixed;
    top:0;
    left:-250px;
    width:250px;
    height:100%;
    background:#111;
    padding-top:60px;
    transition:0.3s;
    z-index:1000;
}

.sidebar a{
    display:block;
    color:#fff;
    padding:12px 20px;
    text-decoration:none;
    font-size:18px;
}

.sidebar a:hover{
    background:#ff7200;
}

.close-btn{
    position:absolute;
    top:10px;
    right:15px;
    font-size:25px;
    color:white;
    cursor:pointer;
}
