/*-----Global Style------*/
body{
    width: 100%;
    height: 100%;
    background-color: rgb(60, 163, 159);
    color: white;
}
 

/*-------2nd page----------*/

.secondpage{
    margin: 20px;
}
.secondpage h1:hover{
     color: #ff7200;
}

.disclaimer {
    background-color: #fff3cd;
    color: #f1201c;
    overflow: hidden;
    white-space: nowrap;


}

.disclaimer-text {
    display: inline-block;
    padding: 10px;
    animation: moveLeft 15s linear infinite;
}

/* Right → Left Animation */
@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.search{
    margin-top: 10px;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
    
}
.option{height: 20px;width: 94%;}
.card{
    background-color: rgb(185, 185, 179);
    color: black;
    height: 220px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 10px 10px rgb(98, 96, 95);
    padding: 10px;
}
.grid1{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.grid2{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imgpara{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imagebox img{ margin-top: 15px;width: 200px;height: 100px;}
.imgpara p{font-family: Arial; font-size: medium;text-align: center;}
.footer{
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer h4{margin-top: 5px;}
.footer p{margin-top: 5px;}
.footer:hover{
    color: #ff7200;
}

