/*-----Global Style------*/
body{
    width: 100%;
    height: 100%;
    background-color: rgb(60, 163, 159);
    color: white;
}
 

/*-------2nd page----------*/

.secondpage{
    margin: 20px;
}
.secondpage h1:hover{
     color: #ff7200;
}

.disclaimer {
    background-color: #fff3cd;
    color: #f1201c;
    overflow: hidden;
    white-space: nowrap;


}

.disclaimer-text {
    display: inline-block;
    padding: 10px;
    animation: moveLeft 15s linear infinite;
}

/* Right → Left Animation */
@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.search{
    margin-top: 10px;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
    
}
.option{height: 20px;width: 94%;}
.card{
    background-color: rgb(185, 185, 179);
    color: black;
    height: 220px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 10px 10px rgb(98, 96, 95);
    padding: 10px;
}
.grid1{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.grid2{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imgpara{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imagebox img{ margin-top: 15px;width: 200px;height: 100px;}
.imgpara p{font-family: Arial; font-size: medium;text-align: center;}
.footer{
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer h4{margin-top: 5px;}
.footer p{margin-top: 5px;}
.footer:hover{
    color: #ff7200;
}


/*----------Third page---------------*/



.thirdpage{
  margin:0;
  font-family:Arial, sans-serif;
  color: #000;
}


.header3{
  font-size: 40px;
  font-weight: bold;
  padding:25px 40px 10px;
  color: #fff;
}


.disclaimer3 {
    background-color: #fff3cd;
    color: #f1201c;
    overflow: hidden;
    white-space: nowrap;


}

.disclaimer3-text {
    display: inline-block;
    padding: 10px;
    animation: moveLeft 15s linear infinite;
}

/* Right → Left Animation */
@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


.container3{
  margin:30px 40px;
  background:#e9e9e9;
  border-radius:20px;
  padding:25px;
}


.left3{
  width:260px;
  float:left;
}

.tag3{
  border:1px solid red;
  color:red;
  padding:5px 10px;
  border-radius:20px;
  display:inline-block;
  margin-bottom:15px;
  background:white;
}


.image-box3{
  height:150px;
  margin-bottom:20px;
  border-radius:12px;
  background:linear-gradient(135deg,#a6d8ff,#5aa9ff);
}


.right3{
  margin-left:300px;
}

.step3{
  margin-bottom:15px;
}

.step3 h3{
  margin:0;
  text-decoration:underline;
}

.step3 p{
  font-size:13px;
}


.footer3{
  clear:both;
  border-top:3px solid #000;
  margin-top:20px;
  padding-top:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.footer3 h2{
  margin:0;
}


.chatbot3{
  position:fixed;
  right:20px;
  bottom:20px;
  background:#6c5ce7;
  color:#fff;
  padding:10px 15px;
  border-radius:20px;
}
